@font-face {
    font-family: "meromSans";
    src: url("./fonts/meromsans-regular-webfont.woff2") format("woff2"), url("./fonts/meromsans-regular-webfont.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

.filterWhite{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(163deg) brightness(100%) contrast(103%);
}

*{
    font-family: 'meromSans', sans-serif;
}

body{
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 5fr;
}

div.header{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #f0f9ff;
}

div.upperHeader{
    display: flex;
}

form{
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[type="search"]{
    border: none;
    width: 300px;
    height: 2rem;
    padding: 1px 3px;
    border-radius: 20px;
    background-color: #bae6fd;
}

div.userInfo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

img.userImage{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

div.lowerHeader{
    display: flex;
    align-items: center;
}

div.welcome{
    flex-grow: 1;
    display: grid;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

div.welcome>img{
    grid-area: 1 / 1 / 3 / 2;
}

div.welcome>p{
    grid-area: 1 / 2 / 2 / 3;
    margin: 0;
}

div.welcome>h2{
    grid-area: 2 / 2 / 3 / 3;
    margin: 0;
}

div.navBar{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

button{
    border-radius: 20px;
    width: 5rem;
    background-color: #0c4a6e;
    color: white;
}

div.sidebar{
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 1rem;
    background-color: #0c4a6e;
    color: white;
}

div.logo{
    font-size: 1.5em;
    font-weight: bold;
}

div.sideBarNav{
    display: flex;
    align-items: center;
    gap: 1rem;
}

div.account{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div.sidebar img, form>label>img, 
div.userInfo>img:first-child{
    width: auto;
    height: 20px;
}

div.logo>img{
    width: 1.5em;
    height: auto;
}

div.utilities{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div.mainContent{
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: #7dd3fc;
}

h3{
    margin-bottom: 0.5rem;
}

div.abilities{
    grid-area: 1 / 1 / 2 / 2;
    padding: 0.5rem;
    padding-right: 0.25rem;
}

div.abilityCards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 0.5rem;
}

div.card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #f0f9ff;
}

div.card p{
    flex-grow: 1;
}

div.card>h3, div.card>p, div.announcementCard h4, 
div.announcementCard p, div.trendingAbility h5, 
div.trendingAbility p, div.footer p{
    margin: 0;
}

div.cardIcons{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.cardIcons img{
    width: auto;
    height: 20px;
}

div.social{
    grid-area: 1 / 2 / 2 / 3;
}

div.announcements, div.trending{
    padding: 0.5rem;
    padding-left: 0.25rem;
}

div.announcementCard, div.trendingCard{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 200px;
    background-color: #f0f9ff;
}

div.announcementCard{
    gap: 0.25rem;
    font-size: 0.75rem;
}

div.announcementCard p{
    margin-bottom: 0.25rem;
}

div.siteMaintenance, div.shareDay{
    border-bottom: 1px solid gray;
}

div.trendingCard{
    gap: 0.1rem;
    font-size: 0.9rem;
}

div.trendingAbility{
    display: flex;
}

div.trendingAbility>div{
    flex-grow: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.footer{
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0ea5e9;
}

a{
    text-decoration: none;
    color: white;
}