@font-face {
    font-family: "meromSans";
    src: url("./fonts/meromsans-regular-webfont.woff2") format("woff2"), url("./fonts/meromsans-regular-webfont.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

*{
    outline: 0.5px solid black;
    font-family: 'meromSans', sans-serif;
}

body{
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 5fr;
}

div.header{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

div.upperHeader{
    display: flex;
}

form{
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}

div.userInfo{
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}

div.userInfo>img:first-child{
    margin-left: auto;
}

img.userImage{
    width: 50px;
    height: auto;
}

div.lowerHeader{
    display: flex;
    align-items: center;
}

div.welcome{
    flex-grow: 1;
    display: grid;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

div.welcome>img{
    grid-area: 1 / 1 / 3 / 2;
}

div.welcome>p{
    grid-area: 1 / 2 / 2 / 3;
    margin: 0;
}

div.welcome>h2{
    grid-area: 2 / 2 / 3 / 3;
    margin: 0;
}

div.navBar{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

div.sidebar{
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

div.sideBarNav{
    display: flex;
    align-items: center;
    gap: 1rem;
}

div.sidebar img{
    width: auto;
    height: 50px;
}

div.mainContent{
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

h3{
    margin-bottom: 0.5rem;
}

div.abilities{
    grid-area: 1 / 1 / 3 / 2;
    padding: 0.5rem;
    padding-right: 0.25rem;
}

div.abilityCards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 0.5rem;
}

div.card{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

div.card>h3, div.card>p, div.announcementCard h4, 
div.announcementCard p, div.trendingAbility h5, 
div.trendingAbility p, div.footer p{
    margin: 0;
}

div.cardIcons{
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.cardIcons img{
    width: auto;
    height: 20px;
}

div.announcements{
    grid-area: 1 / 2 / 2 /3;
    padding: 0.5rem;
    padding-left: 0.25rem;
}

div.announcementCard, div.trendingCard{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 200px;
}

div.trending{
    grid-area: 2 / 2 / 3 / 3;
    padding: 0.5rem;
    padding-left: 0.25rem;
}

div.trendingAbility{
    display: flex;
}

div.trendingAbility>div{
    flex-grow: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.footer{
    grid-area: 3 / 1 / 4 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
}